---
- hosts: localhost
  gather_facts: false

  vars:
    my_name: "ReplayOS NFS"
    my_file: "install_replayos_nfs"
    module_name: "replayos"
    system_key: "replayos"

    top_level_paths:
      - { name: "roms",  enabled: yes,  generic: "roms",  systems: yes }
      - { name: "saves", enabled: yes,  generic: "saves", systems: yes }
      - { name: "bios",  enabled: yes,  generic: "bios",  systems: no }

    templates:
      - { name: "retronas_replayos_nfs.conf",  name_dest: "retronas_replayos.exports", dest: "/etc/exports.d" }

  tasks:
    - name: "{{ my_name }} - Load RetroNAS config"
      ansible.builtin.include_vars: retronas_vars.yml

    - ansible.builtin.import_role:
        name: retronas.role.romdir

    - ansible.builtin.import_role:
        name: retronas.role.extradirs

    - ansible.builtin.import_role:
        name: retronas.role.nfs

    - ansible.builtin.import_role:
        name: retronas.role.samba.system

    - ansible.builtin.import_role:
        name: retronas.role.system-config
